.discount-modal {
  border-radius: 40px !important;
  padding: $gutter * 1.5 !important;
  width: 350px;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &-text {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
  }

  &-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60px);
    z-index: 4;

    svg {
      height: 200px;
    }
  }
}

.button-danger {
  border-radius: 999px !important;
  background: $danger;
  border: none !important;
  box-shadow: none !important;
  color: $white;
}
