.product {
  display: flex;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.product-title {
  color: $accentdark;
  padding-bottom: 20px;
  padding-right: $gutter;
}

.product-info {
  &-topline {
    .product-title {
      margin-right: auto;

      @include media-breakpoint-down(md) {
        margin-right: unset;
      }
    }

    .product-info-1 {
      display: flex;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }

    .product-info-2 {

      @include media-breakpoint-down(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}


.product-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: $gutter;

  @include media-breakpoint-down(md) {
    margin-bottom: 10px;
  }

  &:first-child {
    margin-bottom: $gutter / 2;
  }

  &.vertical-align {
    align-items: center;
  }
}

.product-available {
  color: $accentdark2;
  font-size: 0;

  &-text {
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
    padding-left: 8px;

    @include media-breakpoint-down(lg) {
      font-size: 11px;
    }
  }
}

.product-sold {
  font-size: 11px;
  font-weight: 600;
  color: $gray;

  @include media-breakpoint-down(lg) {
    font-size: 10px;
  }
}

.product-accent {
  background: $accentlight;
  padding: 0 20px;
  border-radius: 8px;
  width: 80%;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.product-price {
  font-weight: 700;
  color: $danger;
  letter-spacing: 2px;
}

.product-outdated-price {
  text-decoration: line-through;
  color: $accentdark2;
  font-weight: 500;
}

.product-characteristics {
  margin-top: 10px;
  font-size: 12px;

  b {
    padding-right: 10px;
  }

  span {
    text-align: right;
  }

  &-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
  }
}

.input,
.button {
  margin: 0;
  width: 100%;
  height: 55px;
  border-radius: 5px;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid $accent;
}

.input {
  padding: 0 20px;
  font-size: 21px;

  &[type=tel] {
    color: #aad7ec;
  }
}

.input,
.textarea {
  &.failed {
    border-color: $danger;
  }

  &::placeholder {
    font-size: 18px;
    color: $black;
    font-weight: 400;
  }
}

.error-text {
  color: $danger;
  font-size: 12px;
  letter-spacing: 1px;
}

a.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
  padding: 0 $gutter;

  &:hover {
    opacity: 0.9;
  }

  &-primary {
    background: $accent;
    color: $white;
  }

  &-secondary {
    background: $accentlight;
    color: $accent;
  }
}

.order-form {
  margin-top: $gutter;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

    .input {
      margin-right: 0;
      margin-bottom: $gutter / 2;
    }
  }
}

.slider-desktop-ad {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-40px);
}

.slider-desktop-item-select {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: transparentize(#c4c4c4, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.rating {
  font-size: 0;
}

.rating-item {
  &:not(:last-child) {
    margin-right: 5px;
  }

  @include media-breakpoint-down(md) {
    svg {
      width: 20px;
    }
  }
}
